{% extends 'authentication/base.html' %}
{% block content_authentication %}

    <table class='mx-auto'>
            {% include 'authentication/builtin/title.html' with text='Changement de mot de passe' %}

        <tbody class='text-center'> 
            <tr>
                <td colspan='2'>
                    Le mot de passe du compte {{ user.username }} a été mis à jour
                </td>
            </tr>
            <tr>
                <td colspan='2' class='container'>
                    <div class='row mt-3'>
                        <a href="{% url 'my_account' %}" class='btn btn-primary mx-auto'>Ok</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
<!-- Powered by EL-WALID EL-KHABOU -->
{% endblock content_authentication %}
