<!-- Ce fichier est utilisé pour afficher le flux d'activités, incluant les tickets et les critiques. -->

{% extends "blog/base.html" %}  <!-- Héritage de la structure de base du fichier "base.html" du dossier "blog". -->

{% load blog_extras %}  <!-- Chargement des balises personnalisées pour le blog. -->
{% load static %}  <!-- Chargement des balises pour gérer les fichiers statiques. -->

{% block title %}Flux{% endblock %}  <!-- Définition du titre de la page. -->

{% block content %}  <!-- Début du contenu principal de la page. -->

    <!-- Section des boutons pour créer un ticket ou une critique. -->
    <div class="btn_flux">
        <form action="{% url 'create_ticket' %}" method='get'>
            {% csrf_token %}
            <!-- Bouton pour demander une critique. -->
            <input class="btn btn_nav btn-outline-dark" type='submit' value='Demander une critique'>
        </form>
        <form action="{% url 'review' %}" method='get'>
            {% csrf_token %}
            <!-- Bouton pour créer une critique. -->
            <input class="btn btn_nav btn-outline-dark" type='submit' value='Créer une critique'>
        </form>
    </div>

    <!-- Contenu principal du flux. -->
    <div class="flux_content ">
        <!-- Boucle pour parcourir et afficher chaque élément (ticket ou critique) du flux. -->
        {% for instance in page_obj %}
            <!-- Si l'élément est un ticket, afficher les détails du ticket. -->
            {% if instance|model_type == 'Ticket' %}
                <div class="flux_ticket content_style">
                    <!-- Vérification de l'utilisateur du ticket et affichage en conséquence. -->
                    {% if instance.user == request.user %}
                        <h2 data-user="seul">Vous avez demandé une critique</h2>
                    {% else %}
                        <h2 data-user="autre">{{instance.user}} a demandé une critique </h2>
                    {% endif %}
                    <!-- Inclusion du modèle partiel pour le ticket. -->
                    {% include 'blog/partials/ticket_snippet.html' with ticket=instance %}
                    <!-- Bouton pour répondre ou créer une critique pour le ticket. -->
                    <div class="btn_right">
                        <div></div>
                        <div class="btn_update">
                            <form action="{% url 'answer' instance.id %}" method='get'>
                                {% csrf_token %}
                                <!-- Si le ticket n'a pas encore été critiqué, afficher le bouton de création de critique. -->
                                {% if instance.reviews.all|length == 0 %}
                                    <input class="btn btn-outline-dark" type='submit' value="Créer une critique">
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            <!-- Si l'élément est une critique, afficher les détails de la critique. -->
            {% elif instance|model_type == 'Review' %}
                <div class="review_post content_style">
                    <!-- Vérification de l'utilisateur de la critique et affichage en conséquence. -->
                    {% if instance.user == request.user %}
                        <h2 data-user="self">Vous avez publié une critique</h2>
                    {% else %}
                        <h2 data-user="other"> {{instance.user}} a publié une critique </h2>
                    {% endif %}
                    <!-- Inclusion du modèle partiel pour la critique. -->
                    {% include 'blog/partials/review_snippet.html' with review=instance %}
                    <!-- Bouton pour répondre ou créer une autre critique pour le ticket associé. -->
                    <div class="btn_right">
                        <div></div>
                        <div class="btn_update">
                            <form action="{% url 'answer' instance.ticket.id %}" method='get'>
                                {% csrf_token %}
                                <!-- Si l'utilisateur actuel n'est pas l'auteur de la critique, afficher le bouton de création de critique. -->
                                {% if instance.user != request.user %}
                                    <input class="btn btn_review btn-outline-dark" type='submit' value="Créer une critique">
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <!-- Pagination pour le flux. -->
        <div class="page_number">
            <span>
                <!-- Liens pour la première et la page précédente si elles existent. -->
                {% if page_obj.has_previous %}
                    <a href="?page=1"><< première</a>
                    <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
                {% endif %}
                <!-- Affichage du numéro de page actuel et du nombre total de pages. -->
                <span>
                    Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
                </span>
                <!-- Liens pour la page suivante et la dernière page si elles existent. -->
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="link-suivante">suivante</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="link-derniere">dernière >></a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock content %}
