{% extends "blog/base.html" %}
{% load static %}
{% load blog_extras %}

{% block title %}Voir vos propres post{% endblock %}

{% block content %}
    <h1 class="title">Vos posts</h1>
    {% for instance in page_obj %}
        {% if instance|model_type == 'Ticket' %}
            <div class="ticket_post content_style">
                <h2>Vous avez publié un ticket</h2>
                {% include 'blog/partials/ticket_snippet.html' with ticket=instance %}
                <div class="post_btns">
                    <div class="btn_delete">
                        <form  action="{% url 'ticket_delete' instance.id %}" method='get' >
                            {% csrf_token %}
                            <input class="btn btns btn-outline-dark" type='submit' value="Supprimer">
                        </form>
                    </div>
                    <div class="btn_update">
                        <form  action="{% url 'ticket_update' instance.id %}" method='get' >
                            {% csrf_token %}
                            <input class="btn btns btn-outline-dark" type='submit' value="Modifier">
                        </form>
                    </div>
                </div>
            </div>
        {% elif instance|model_type == 'Review' %}
            <div class="review_post content_style">
                <h2>Vous avez publié une critique</h2>
                {% include 'blog/partials/review_snippet.html' with review=instance %}
                <div class="post_btns">
                    <div class="btn_delete">
                        <form  action="{% url 'review_delete' instance.id %}" method='get' >
                            {% csrf_token %}
                            <input class="btn btns btn-outline-dark" type='submit' value="Supprimer">
                        </form>
                    </div>
                    <div class="btn_update ">
                        <form  action="{% url 'review_update' instance.id %}" method='get' >
                            {% csrf_token %}
                            <input class="btn btns btn-outline-dark" type='submit' value="Modifier">
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="page_number">
            <span>
                {% if page_obj.has_previous %}
                    <a href="?page=1"><< première</a>
                    <a href="?page={{ page_obj.previous_page_number}}">précédente</a>
                {% endif %}
                <span>
                 Page {{ page_obj.number}} sur {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">suivante</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">dernière >></a>
                {% endif %}
            </span>
    </div>
{% endblock content %}