{% extends "blog/base.html" %}

{% block title %} Créer une critique {% endblock %}

{% block content %}
 <h1 class="title">Créer une critique</h1>
    <div class="content_style">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="new_review_ticket">
                <h1>Livre / Article </h1>
                {{ ticket_form.as_p}}
            </div>
            <div class="new_review_content">
                <h1> Critique </h1>
                {{ review_form.as_p}}
            </div>
            <div class="btn_right">
                <div></div>
                 <button class="btn btn-outline-dark btn_review" type="submit">Envoyer</button>
            </div>

        </form>
     </div>
{% endblock content %}