table, th, thead {
    padding : 1.1em;
}

.helptext {
    color : #A9A9A9;
    font-size : 0.9em;
}

.nonfield {
    color : #F2633D;
}

input {
    width : 100%;
}

#photo-clear_id {
    margin-left : 1.5em;
    width : 1.2em;
}
