{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>LITReview</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
                               integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                               crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="{% static 'style/base_main.css' %}">
    </head>

    <body class="d-flex flex-column min-vh-100">

        <div class="mb-auto main-content">
            <div class='container-fluid mb-5'>
                <div class='row'>
                    <nav class='col navbar navbar-dark banner'>
                        <a class='col my-auto' href="{% url 'home' %}">
                            <img class='img-fluid' src="{% static 'LITReview3.png' %}" alt='Logo'>
                        </a>
                        {% if user.is_authenticated %}
                            <ul class='nav justify-content-end'>
                                <li class='nav-item my-auto'>
                                    <a class='nav-link text-light font-weight-bold' href="{% url 'home' %}">FLUX</a>
                                </li>
                                <li class='nav-item my-auto'>
                                    <a class='nav-link text-light font-weight-bold' href="{% url 'posts' %}">POSTS</a>
                                </li>
                                <li class='nav-item my-auto'>
                                    <a class='nav-link text-light font-weight-bold' href="{% url 'subscription_management' %}">ABONNEMENTS</a>
                                </li>
                                <li class='nav-item my-auto dropleft dropdown'>
                                    <a class='nav-link text-body lead' href="#" data-toggle='dropdown' aria-haspopup="true" aria-expanded="false">
                                        {% if user.photo %}
                                            <img src='{{ user.photo.url }}' alt='Avatar' class='rounded-circle'>
                                        {% else %}
                                            <span class='dropdown-toggle'>{{ user.username }}</span>
                                        {% endif %}
                                    </a>
                                    <div class='dropdown-menu'>
                                        <p class='text-center font-weight-bold'>{{ user }}</p>
                                        <hr>
                                        <a class='dropdown-item' href="{% url 'my_account' %}">Mon compte</a>
                                        <br>
                                        <a class='dropdown-item' href="{% url 'logout' %}">Se déconnecter</a>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                    </nav>
                </div>
            </div>
            <div class='container'>
                {% block content %}{% endblock %}
            </div>
        </div>
        
        <footer class="footer mt-auto py-3 text-light" style="background-color: #000000; text-align: center;">
            <div class="container">
                <span>© 2023 LITReview - Powered by EL-WALID EL-KHABOU - Dans le cadre du Projet N°9 de OC / 08/2023.</span>
            </div>
        </footer>   
        <!-- Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <!-- Powered by EL-WALID EL-KHABOU -->        
    </body>
</html>
