{% extends 'ticketing/base.html' %}
{% block content_ticketing %}

    {% include 'ticketing/builtin/title.html' with text='Confirmation' %}

    <div class='border m-2 p-2 ticket-header'>
        <p class='text-center m-3'>Suppression du ticket "{{ ticket.title }}" créé le {{ ticket.time_created }} ?<br>
        Attention, la suppression d'un ticket supprime également la critique associée.</p>
        <form method='POST'>
            {% csrf_token %}
            {% include 'ticketing/builtin/buttons.html' with text='Confirmer' %}
        </form>
    </div>
<!-- Powered by EL-WALID EL-KHABOU --> 
{% endblock %}
